.playlist {
  &__track {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}
.playlist_title {
  &__col {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 2px;
    color: #696969;
    text-transform: uppercase;
  }

  &__svg {
    width: 12px;
    height: 12px;
  }
}

.col01 {
  width: 359px;
}

.col02 {
  width: 456px;
}

.col03 {
  width: 205px;
}
.col04 {
  width: 60px;
  text-align: end;
}

.content__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  margin-bottom: 24px;
}

@media (max-width: 1770px) {
  .col01 {
    width: 426px;
  }

  .col02 {
    width: 329px;
  }

  .col03 {
    width: 277px;
  }
  .col04 {
    width: 60px;
    text-align: end;
  }
}

@media (max-width: 1600px) {
  .col01 {
    width: 359px;
  }

  .col02 {
    width: 170px;
  }

  .col03 {
    width: 205px;
  }
  .col04 {
    width: 60px;
    text-align: end;
  }
}

@media (max-width: 1300px) {
  .col01 {
    width: 306px;
  }

  .col02 {
    width: 274px;
  }

  .col03 {
    display: none;
  }
}
